<div id="<%= dom_id task %>">
  <p>
    <strong>Project:</strong>
    <%= task.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Link github:</strong>
    <%= task.link_github %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= task.url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
