<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= video.url %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= video.order %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= video.course_id %>
  </p>


  <p>
    <strong>Status:</strong>
    <%= video.status %>
  </p>

</div>
