<div class="row d-flex justify-content-between">

  <div class="col-md-6">
    <h1>
      <%= @course.base_course.title %>
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h3>
      Recursos
    </h3>
    <ul>
      <% @course.base_course.resources.each do |resource| %>
        <li>
          <a href="<%= resource.url %>" target="_black"><%= resource.title %></a>
        </li>
      <% end %>
    </ul>

  </div>

  <div class="col-md-12">
    <h4>
      <%= @video.base_video.title %>
    </h4>
  </div>

  <div class="col-md-7">
      <%= render @video %>
  </div>

  <div class="col-md-5 mt-2">
    <%= render 'videos/playlist', { videos: @course.videos, video: @video } %>
  </div>



  <div class="col-12 mt-5 ">
    <strong> Tarea: </strong> <span> <a href="<%= @base_task.task_url %>" target="_black"><%= @base_task.title %></a> </span>
  </div>

  <div class="col-12 mt-2 ">
    <strong>Descripción:</strong> <span><%= @base_task.description %></span>
  </div>

  <div class="col-12 mt-5 ">
    <%=  link_to "Atrás", root_url, :class => "btn btn-primary" %>
  </div>

</div>



<!--<div>-->
<!--  <%#= link_to "Edit this video per user", edit_video_per_user_path(@video_per_user) %> |-->
  <%#= link_to "Back to video per users", video_per_users_path %>

  <%#= button_to "Destroy this video per user", @video_per_user, method: :delete %>
<!--</div>-->
