
<% if current_user %>
  <h2>Hola <%= current_user.profile.full_name %></h2>


  <h1>Cursos</h1>
  <% @courses.each do |course_per_user| %>
    <p>
      <%= link_to course_per_user.course.title, course_per_user %>
    </p>
  <% end %>


  <% if current_user.admin? %>
    There are <%= User.count %> users
  <% end %>
  <p>

  </p>

  <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete  %>
<% else  %>
  <p>You are not signed in.</p>
  <%= link_to "Sign Up!", new_user_registration_path  %>
  <br>
  <%= link_to "Login!", new_user_session_path %>

  <%= %>>
video

<% end %>