<div id="<%= dom_id base_task %>">
  <p>
    <strong>Title:</strong>
    <%= base_task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= base_task.description %>
  </p>

  <p>
    <strong>Task url:</strong>
    <%= base_task.task_url %>
  </p>

  <p>
    <strong>Base course:</strong>
    <%= base_task.base_course_id %>
  </p>

</div>
