<%= form_with(model: base_task) do |form| %>
  <% if base_task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(base_task.errors.count, "error") %> prohibited this base_task from being saved:</h2>

      <ul>
        <% base_task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :task_url, style: "display: block" %>
    <%= form.text_field :task_url %>
  </div>

  <div>
    <%= form.label :base_course_id, style: "display: block" %>
    <%= form.text_field :base_course_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
