<p style="color: green"><%= notice %></p>

<%= render @course_per_user %>

<div>
  <%= link_to "Edit this course per user", edit_course_per_user_path(@course_per_user) %> |
  <%= link_to "Back to course per users", course_per_users_path %>

  <%= button_to "Destroy this course per user", @course_per_user, method: :delete %>
</div>
